*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
*.iml

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.pub/
.pub-cache/
build/
coverage/

android/.gradle/
android/.kotlin/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

macos/Pods/
macos/Flutter/ephemeral/

linux/flutter/ephemeral/
windows/flutter/ephemeral/
